@import "../node_modules/@cgross/angular-notify/angular-notify.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

.new-item{
    margin: auto;
}

.new-btn{
    margin: 5px 0;
    float: right;
}

h1{
    margin: 20px 0;
}

table .thead-dark{
    background: black;
    color: white;
}
