<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1 class="text-center"> Items </h1>
        <div class="row" style="padding: 0 15px">
            <form class="form-inline" ng-submit="searchByTag()">
                <div class="form-group">
                    <input ng-model="tag" type="text" class="form-control" placeholder="Search by tag">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
                <button type="button" class="btn btn-danger" ng-click="reset()">Reset</button>
                <a href="#/items/new" class="btn btn-sm btn-success float-right new-btn">New Item</a>
            </form>
        </div>

        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col">Started At</th>
                <th colspan="2">Acions</th>
            </tr>
            </thead>
            <tbody >
            <tr ng-show="!items.length"><td colspan="5" class="text-center">No Items Available</td></tr>
            <tr item-partial item="item" ng-repeat="item in items"></tr>
            </tbody>
        </table>
        <div class="row text-center">
            <paging
                    page="currentPage"
                    page-size="pageSize"
                    total="total"
                    paging-action="paginate(page)">
            </paging>
        </div>
    </div>
</div>
