<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1 class="text-center"> Items </h1>
        <div class="row" style="padding: 0 15px">
            <form class="form-inline" ng-submit="searchByTag()">
                <div class="form-group">
                    <input ng-model="tag" type="text" class="form-control" placeholder="Search by tag">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
                <button type="button" class="btn btn-danger" ng-click="reset()">Reset</button>
                <a href="#/items/new" class="btn btn-sm btn-success float-right new-btn">New Item</a>
            </form>
        </div>

        <div class="row">
            <div item-partial-grid item="item" display="display(item.id)" ng-repeat="item in items" class="col-xs-6 col-md-4 items-div" ></div>
        </div>
        <div class="row text-center">
            <paging
                    page="currentPage"
                    page-size="pageSize"
                    total="total"
                    paging-action="paginate(page)">
            </paging>
        </div>
    </div>
</div>
<div id="itemModal" class="modal" ng-class="{true:'show', false:'fade'}[modalDisplay]" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"  ng-click="close()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{item.title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Status</label>: {{item.status}}
                </div>

                <div class="form-group">
                    <label>Started At</label>: {{item.started_at}}
                </div>

                <div class="form-group">
                    <label>Completed At</label>: {{item.completed_at}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close()" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->